@model OttBlog23.Models.CustomError

<div class="d-flex flex-column justify-content-center">
    <div class="row row-cols-1">
        <div class="col text-center">
            <div class="row">
                <h4>Unreachable State</h4>
            </div>
            <div class="row">
                <a href="https://xkcd.com/2200"> <img src="https://imgs.xkcd.com/comics/unreachable_state.png" /></a>
            </div>
            <div class="row">
                <h5>ERROR:</h5>
                <p style="font-size:smaller;">We&#39;ve reached an unreachable state.<br> Anything is possible.<br> The limits were in our heads all along.<br> Follow your dreams.</p>
            </div>
        </div>
        <div class="col text-center display-5 my-3 fw-bold">@Model.Code</div>
        <div class="col text-center h4">
            @Model.Message
        </div>
        <div class="col text-center mt-3">
            <a asp-action="Index" asp-controller="home" class="btn btn-primary btn-lg rounded-pill btnlinks">
                Go To Homepage<span class="fa fa-angle-right"></span>
            </a>
        </div>
    </div>
</div>