@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<hr />

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Thank you for registering.<br>Before you can sign in, you need to confirm your account.<br>We have sent an email to <strong>@Model.Email</strong> with a link to confirm your account.
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}
