@using OttBlog23.Enums;
@model OttBlog23.Models.Post

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Select Blog:</label>
                <select asp-for="BlogId" class="form-control" asp-items="ViewBag.BlogId"></select>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="Title" class="form-control" placeholder="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <textarea asp-for="Abstract" class="form-control" placeholder="Abstract"></textarea>
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label>Status:</label>
                <select asp-for="ReadyStatus" asp-items="@Html.GetEnumSelectList<ReadyStatus>()" class="form-control"></select>
                <span asp-validation-for="ReadyStatus" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label>Image:</label>
                <input type="file" asp-for="Image" class="form-control" accept=".jpg,.png,.gif,.jpeg" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Manage Tags</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <input name="tagText" type="text" class="form-control" id="TagEntry" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col">
                                <button onclick="AddTag()" name="Add" type="button" class="btn btn-dark btn-sm note-btn-block">
                                    ADD
                                </button>
                            </div>
                            <div class="col">
                                <button onclick="DeleteTag()" name="Delete" type="button" class="btn btn-dark btn-sm note-btn-block">
                                    DELETE
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <select class="note-btn-block" name="TagValues" id="TagList" multiple>
                        </select>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <hr />
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/custom.js"></script>
    <script>
        $('#Content').summernote({});
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
